@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');


.card {
    color:aliceblue;
    margin: auto;
    margin-top: 10px;
    height: 350px;
    width: 400px;
    /* min-width: 250px; */
    padding: 1.5rem;
    /* border-radius: 16px; */
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    /* transition: .2s; */
    /* margin: 0; */
    /* scroll-snap-align: start; */
    clear: both;
    
    /* align-items: center; */
    /* text-align: center; */
}
.card__image{
    width: 100%;
    height: 200px;
    object-fit: cover;


}

a {
    color:aliceblue;
    text-decoration: none;
}
.profile {
        color:aliceblue;
        margin: auto;
        margin-top: 10px;
        height: 350px;
        width: 400px;
        padding: 1.5rem;
        /* float: left; */
        background: #17141d;
        box-shadow: -1rem 0 3rem #000;
        /* display: -webkit-inline-box; */
        /* overflow: hidden; */
        /* flex-wrap: wrap; */
        
        flex-direction: row;
       
        clear: both;
}

.show {
    color:aliceblue;
    margin: auto;
    margin-top: 10px;
    height: 600px;
    width: 700px;
    padding: 1.5rem;
    background: #17141d;
    /* box-shadow: -5rem 0 3rem #000; */
    box-shadow: 3px 3px .5em red, -4em 0 3em olive;
    display: flex;
    /* flex-direction: column; */
    clear: both;
}

.card__imageshow{
    width: 100%;
    height: 650px;
    width: 500px;
    object-fit: contain;
    margin-left: 10px;

    /* box-shadow: -2rem 0 3rem #000; */
    box-shadow: 12px 20px 2px 1px rgba(1, 1, 43, 0.2);


}

