@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    padding: 10px;
    /* margin: auto; */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'DM Mono', monospace;
    /* align-items: center; */
    margin: auto;
    /* box-sizing: border-box; */
    /* text-align: center; */
}

/* a {
    text-decoration: none;
} */

/* .card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
} */