@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    padding: 10px;
    /* margin: auto; */
    background-color: #ECECEC;
    color: rgb(0, 0, 0);
    font-family: 'DM Mono', monospace;
    /* align-items: center; */
    margin: 0;
    box-sizing: border-box;
    /* text-align: center; */
}
.nav {
    color:black;
}

/* https://loading.io/css/ */
.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    position: relative;
  }
  .loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    text-align: center;
   
    border: 6px solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
    animation: loader 1.2s linear infinite;
  }
@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* a {
    text-decoration: none;
} */

/* .card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
} */